# 不要把真实值提交到 Git。部署时在 Sites 的环境变量设置中填写。
TEAM_PASSWORD_HASH=pbkdf2$100000$replace-with-salt$replace-with-hash
SESSION_SECRET=replace-with-at-least-32-random-characters
TEAM_MEMBERS=姓名一,姓名二,姓名三
PAPER_OWNER=姓名一
GITHUB_TOKEN=github_pat_replace_me
GITHUB_REPO=owner/repository
GITHUB_BRANCH=main
